body {
	background: lavender;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#topheading{
	height: 50px;
	font-size: 24px;
	width: 800px;
	border-bottom: solid black 1px;
	margin: auto;
	text-align: center;
}

.gameContent{
	height: 400px;
	width: 800px;
	margin: auto;
	background: lightgray;
	position: relative;
}

.spacer{height: 30px;}

#wordHolder{
	margin-top: 50px;
	margin-left: 150px;
}
#s {
	font-size: 24px;
}
#guesses {
	margin-top: 20px;
	margin-left: 150px;
	font-size: 24px;
}

#imageHolder{
	width: 75px;
	margin-left: 30px;
	margin-top: 10px;

}

#imageHolder img{
	position: relative;
}

#feedback {
	margin-left: 150px;
	margin-top: 20px;
	font-size: 24px;

}

#finalmsg {
	font-size: 24px;
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}
