body {
	background: url("http://www.scholastic.com/thehungergames/images/downloads/HG_WALLPAPER_2_1024X768.jpg");
}

header {
	background: black;
	color: white;
	text-align: center;
	font-family: Papyrus,fantasy;
}
h1 {

}

.main {
	color: white;
	margin-top: 50px;
	border: medium dashed orange;
}

#audiocenter {
	
	margin: 0 auto;
	margin-top: 50px;
}